{% load static %}



<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Calculadora Solar{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    {% block extra_css %}{% endblock %}
</head>

<body class="sb-nav-fixed bg-light">

    {% include 'partial/_header.html' %}
    <div id="layoutSidenav">
        {% include 'partial/_sidebar.html' %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4 py-4">
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </main>
            {% include 'partial/_footer.html' %}
        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"></script>
    <!--    <script src="{% static 'js/clientes.js' %}"></script>-->
    <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>