{% load static %}

<footer class="py-4 bg-dark mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Desenvolvido por Victor Alberoni</div>
            <div>
                <a href="https://github.com/Alberoni1" target="_blank" class="link-secondary">
                    <img src="{% static 'assets/ícones/1x/github.svg'%}" alt="ícone github">GitHub
                </a>
                <a href="https://instagram.com/victoralberoni" target="_blank" class="link-secondary">
                    <img src="{% static 'assets/ícones/1x/instagram.png'%}" alt="ícone instagram">Instagram
                </a>
            </div>
        </div>
    </div>
</footer>